@import "tailwindcss";

body {
  /* background-color: #fd2c2a; */
  background-color: #fffafa;
  font-family: var(--font-hevetica-now-display);
}

@theme {
  --font-hevetica-now-display: "helvetica-now-display", sans-serif;
}

@layer base {
  @font-face {
    font-family: "helvetica-now-display";
    src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  }
}
